@model IEnumerable<Business_Logic.Models.StoreItemModel>

@{
    ViewBag.Title = "ShoppingCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Linq;

<h2>My ShoppingCart</h2>

<text>Total items @Model.Count()</text>

<table class="table">
    <tr>
        <th>

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="data:image;base64,@System.Convert.ToBase64String(item.Images[0])" width="50" height="50" />
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "Products", new { id = item.Id }, null) |
                @Html.ActionLink("Remove", "RemoveFromShoppingCart", "Acount", new { id = item.Id }, null)
            </td>
        </tr>
    }

<tr>
    <td>
        @if(Model.Count() != 0)
        {
        <div>
            <text>
                Subtotal&nbsp;&nbsp;: € @Decimal.Round(Model.Sum(x => x.Price), 2) <br>
                Added tax 21%&nbsp;&nbsp;: € @Decimal.Round((Model.Sum(x => x.Price) * (decimal)0.21), 2) <br>
                Total&nbsp;&nbsp;: € @Decimal.Round((Model.Sum(x => x.Price) * (decimal)1.21), 2)
            </text>
            <br>
            @Html.ActionLink("Check Out", "SendPaymentEmail", "Acount", new { @class = "btn btn-info" })
        </div>

        }
    </td>
</tr>

</table>


