@model Business_Logic.Models.StoreItemModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Product Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        @{
            if (Model.Images != null)
            {
                for (int i = 0; i < Model.Images.Count; i++)
                {
                    <dd>
                        <img src="data:image;base64,@System.Convert.ToBase64String(Model.Images[i])" width="200" height="200" />
                    </dd>
                }
            }
        }

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)

        </dd>
        @if (Model.Discount > 0)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Discount)
            </dt>
            
            <dd>
                @Html.DisplayFor(model => model.Discount)%              
            </dd>
            <dd>
                <br>
                <text>New Price is: €@Model.PriceWithDiscount</text>
            </dd>

        }


        @if (User.IsInRole("Customer"))
        {
            @Html.ActionLink("Add to Cart", "AddToShoppingCart", "Acount", new { id = Model.Id }, new { @class = "btn btn-info" })
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "AllProducts")
</p>
